* {
    margin: 0 auto;
}
body {
    background: url('../images/bg.png') 100% fixed;
    font-family: 'Press Start 2P', cursive;
}

.parent{
    display: flex;
}

.baby {
    flex: 1;
}
.timer_score {
    top: 10%;
    position: absolute;
    right: 12%;
    display: flex;
}
.timer_score h3{
    text-align: right;
    padding-left: 40%;
}
.header {
    position: absolute;
    top: 40%;
    left: 5%;
}
button {
    position: absolute;
    width: 100px;
    height: 30px;
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(0,0,0,.5);
    box-shadow: 10px 5px;
    border-radius: 10%;
    
}
.startButton {
    bottom: 15%;
    left: 9.3%;
}
.resets {
    bottom: 10%;
    left: 9.3%;
}
.holes {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 120px;
    bottom: 10%;
    left: 20%;
    overflow: hidden;
    justify-content: flex-end;

}
.hole {
    margin: 0 auto;
    width: 150px;

}

.hole_bottom{
    z-index: 10;
}
.hole_1 {
    bottom: 3%;
    right: -20%;
}
.hole_2 {
    bottom: 1%;
    right: 10%;
}
.hole_3 {
    bottom: 2%;
    right: 35%;
}
.hole_4 {
    bottom: 18%;
    right: 14%;
}
.hole_5 {
    bottom: 20%;
    right: -12%;
}
.hole_6 {
    bottom: 18%;
    right: 37%;
}
.hole_7 {
    bottom: 35%;
    right: -12%;
}

.hole_8 {
    bottom: 33%;
    right: 15%;
}

.hole_9 {
    bottom: 34%;
    right: 39%;
}
#faces {
    visibility: hidden;
}


#aaron, #jason, #drake, #john, #jz{
    transform: translateY(-50%);
    transition: 3s;
    position: absolute;
    height: 180px;
    float: left;

}   
