* {
    margin: 0 auto;
}
body {
    background: url('../images/bg.png') 100% fixed;
    font-family: 'Press Start 2P', cursive;
}

.parent{
    display: flex;
}

.baby {
    flex: 1;
}
.timer_score {
    top: 10%;
    position: absolute;
    right: 12%;
    display: flex;
}
.timer_score h3{
    text-align: right;
    padding-left: 40%;
}
.header {
    position: absolute;
    top: 40%;
    left: 5%;
}
button {
    position: absolute;
    width: 100px;
    height: 30px;
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(0,0,0,.5);
    box-shadow: 10px 5px;
    border-radius: 10%;
    
}
.startButton {
    bottom: 15%;
    left: 9.3%;
}
.resets {
    bottom: 10%;
    left: 9.3%;
}
.holes {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 100px;
    bottom: 0;
    left: 20%;

}
.hole {
    width: 150%;
    height: auto;
    margin: 0 auto;
}
.hole_top, .hole_bottom {
    margin: 0 auto;
   
    
}
.hole_1 {
    bottom: 0%;
    right: -20%;
}
.hole_2 {
    bottom: 2%;
    right: 10%;
}
.hole_3 {
    bottom: 0%;
    right: 35%;
}
.hole_4 {
    bottom: 10%;
    right: 7%;
}
.hole_5 {
    bottom: 11%;
    right: -17%;
}
.hole_6 {
    bottom: 12%;
    right: 33%;
}
.hole_7 {
    bottom: 20%;
    right: -16%;
}

.hole_8 {
    bottom: 19%;
    right: 12%;
}

.hole_9 {
    bottom: 21%;
    right: 34%;
}
#faces {
    visibility: hidden;
}


#aaron, #jason, #drake, #john, #jz{
    transform: translateY(10%);
    transition: 3s;
    position: absolute;
    height: 130px;

}   