/* resetting margin for all default properties */
* {
    margin: 0 auto;
}
body {
    background: url('../images/bg.png') 100% fixed;
    font-family: 'Press Start 2P', cursive;
}

.parent{
    display: flex;
}

.baby {
    flex: 1;
}
/* changing the cursor to a hammer */
#gameholes {
    cursor: url('../images/hammer.png'), auto;
}

/* top right and left section */
.timer_score {
    top: 10%;
    position: absolute;
    right: 12%;
    display: flex;
}
.timer_score h3{
    text-align: right;
    padding-left: 40%;
}
.header {
    position: absolute;
    top: 40%;
    left: 5%;
}
.startButton, .resets {
    position: absolute;
    width: 100px;
    height: 30px;
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(0,0,0,.5);
    box-shadow: 10px 5px;
    border-radius: 10%;
    
}
.startButton {
    bottom: 15%;
    left: 9.3%;
}
.resets {
    bottom: 10%;
    left: 9.3%;
}

/* gameboard */
.holes {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 120px;
    width: 150px;
    bottom: 10%;
    left: 20%;
    overflow: hidden;
    justify-content: flex-end;

}
.hole {
    margin: 0 auto;
    width: 150px;

}

.hole_bottom{
    z-index: 10;
}
.hole_1 {
    bottom: 3%;
    right: -20%;
}
.hole_2 {
    bottom: 1%;
    right: 10%;
}
.hole_3 {
    bottom: 2%;
    right: 35%;
}
.hole_4 {
    bottom: 18%;
    right: 14%;
}
.hole_5 {
    bottom: 20%;
    right: -12%;
}
.hole_6 {
    bottom: 18%;
    right: 37%;
}
.hole_7 {
    bottom: 35%;
    right: -12%;
}

.hole_8 {
    bottom: 33%;
    right: 15%;
}

.hole_9 {
    bottom: 34%;
    right: 39%;
}
#faces {
    visibility: hidden;
}
@keyframes slide {
    0%{
        height: 0px;
    }
    100%{
        transform: translateY(-51%);
    }
}

/* faces of the instructors */
#aaron, #jason, #drake, #john, #jz{
    animation: slide .5s forwards;
    position: absolute;
    width: 60px;
}   

/* modal boxes */

.start_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    z-index: 20;
    visibility: hidden;
}

.start_info{
    position: absolute;
    top: 15%;
    left: 23%;
    text-align: center;
    border: solid 3px black;
    border-radius: 10%;
    background: rgb(248,247,245);
    width: 800px;
    height: 450px;
    padding-top: 100px;
}

.start_info2{
    position: absolute;
    top: 15%;
    left: 23%;
    text-align: center;
    border: solid 3px black;
    border-radius: 10%;
    background: rgb(248,247,245);
    width: 800px;
    height: 450px;
    padding-top: 20px;
    padding-bottom: 30px; 
}

.info{
    padding: 75px 0 75px 0;

}

.final {
    padding-bottom: 50px; 
}

.game_button, .game_button2, .instru_button{
    text-align: center;
    width: 140px;
    height: 30px;
    font-family: 'Press Start 2P', cursive;
    background-color: rgba(0,0,0,.5);
    box-shadow: 10px 5px;
    border-radius: 10%;
    
}

.info_box {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    z-index: 20;
    visibility: hidden;
}

.info2 {
    text-align: left;
    padding: 20px 0 20px 0;

}
.gameOver {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.9);
    z-index: 20;
    visibility: hidden;
}


.show_box {
    visibility: visible;
}